{% extends "base.html" %}
{% load static %}
{% block blog_sidebar_left %}

<!-- Preloader Start -->
<div class="preloader bg--color-theme"></div>
<!-- Preloader End -->

<!-- Wrapper Start -->
<div class="wrapper">

    <!-- Blog Section Start -->
    <div class="blog--section pd--100-0-40">
        <div class="container">
            <div class="row">
                <!-- Blog Content Start -->
                <div class="blog--content col-md-9 pb--60 float--right">
                    <div class="row MasonryRow">
                        {% for post in posts %}
                        <div class="col-md-6 col-xs-6 col-xxs-12">
                            <!-- Post Item Start -->
                            <div class="post--item sticky">
                                <div class="post--img">
                                    {% if post.image %}
                                    <img src="{{post.image.url}}" alt="" data-rjs="2">
                                    {% endif %}
                                </div>

                                <div class="post--info">
                                    <h2 class="h5"><a href="{% url 'blog_detail' post.pk %}">{{post.title}}</a></h2>

                                    <p>By <a href="#">{{post.author}}</a><span class="divider">/</span><a href="#">{{ post.created_on | date:"b d Y" }}</a><span class="divider">/</span><a href="#">04 Comment</a></p>
                                </div>

                                <div class="post--content">
                                    <p>{{post.body | slice:"100"}}</p>
                                </div>

                                <div class="post--footer">
                                    <a href="{% url 'blog_detail' post.pk %}" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                            <!-- Post Item End -->
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Pager Start -->
                    <ul class="pager">
                        <li><a href="#"><i class="fa fm fa-long-arrow-left"></i>Previous</a></li>
                        <li><span>/</span></li>
                        <li><a href="#">Next<i class="fa flm fa-long-arrow-right"></i></a></li>
                    </ul>
                    <!-- Pager End -->
                </div>
                <!-- Blog Content End -->

                <!-- Blog Sidebar Start -->
                <div class="blog--sidebar col-md-3 pb--60">
                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Search Widget Start -->
                        <div class="search--widget" data-form-validation="true">
                            <form action="#" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="I'm Looking For..." required>

                                    <div class="input-group-addon">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Search Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Widget Title Start -->
                        <h2 class="widget--title h4 bg--overlay">Catagories</h2>
                        <!-- Widget Title End -->

                        <!-- Categories Widget Start -->
                        <div class="categories--widget">
                            <ul>
                                <li><a href="#">Computer Repair</a><span>(12)</span></li>
                                <li><a href="#">Laptop Repair</a><span>(05)</span></li>
                                <li><a href="#">Tablet/iPad Repair</a><span>(18)</span></li>
                                <li><a href="#">Smarphone Repair</a><span>(09)</span></li>
                                <li><a href="#">Camera &amp; Lense Repair</a><span>(22)</span></li>
                                <li><a href="#">Scanner &amp; Printer Repair</a><span>(29)</span></li>
                                <li><a href="#">Software Installation &amp; Upgrade</a><span>(92)</span></li>
                                <li><a href="#">Viruses Remove</a><span>(02)</span></li>
                                <li><a href="#">Data Recover</a><span>(11)</span></li>
                                <li><a href="#">Network Solving</a><span>(02)</span></li>
                            </ul>
                        </div>
                        <!-- Categories Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Widget Title Start -->
                        <h2 class="widget--title h4 bg--overlay">Recent Post</h2>
                        <!-- Widget Title End -->

                        <!-- Recent Posts Widget Start -->
                        <div class="recent-posts--widget">
                            <ul class="nav">
                                <li class="clearfix">
                                    <div class="img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog-img/recent-post-01.jpg' %}" alt="" data-rjs="2"></a>
                                    </div>

                                    <div class="content">
                                        <h3 class="h6"><a href="blog-details.html">The Summer Sppecial Day Out</a></h3>
                                        <p>Jan 19 2017</p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog-img/recent-post-02.jpg' %}" alt="" data-rjs="2"></a>
                                    </div>

                                    <div class="content">
                                        <h3 class="h6"><a href="blog-details.html">The Post Writen By Saju</a></h3>
                                        <p>Jan 19 2017</p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="img">
                                        <a href="blog-details.html"><img src="{% static 'img/blog-img/recent-post-03.jpg' %}" alt="" data-rjs="2"></a>
                                    </div>

                                    <div class="content">
                                        <h3 class="h6"><a href="blog-details.html">Drop &amp; Drug Your Tagline Here</a></h3>
                                        <p>Jan 19 2017</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Recent Posts Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Widget Title Start -->
                        <h2 class="widget--title h4 bg--overlay">Tags</h2>
                        <!-- Widget Title End -->

                        <!-- Tags Widget Start -->
                        <ul class="tags--widget">
                            <li><a href="#">Computer</a></li>
                            <li><a href="#">Laptop Repair</a></li>
                            <li><a href="#">Camera</a></li>
                            <li><a href="#">Scanner</a></li>
                            <li><a href="#">Printer</a></li>
                            <li><a href="#">Lense</a></li>
                            <li><a href="#">LCD/LED</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                        <!-- Tags Widget End -->
                    </div>
                    <!-- Widget End -->

                    <!-- Widget Start -->
                    <div class="widget">
                        <!-- Widget Title Start -->
                        <h2 class="widget--title h4 bg--overlay">Find Us On</h2>
                        <!-- Widget Title End -->

                        <!-- Social Widget Start -->
                        <ul class="social--widget">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        <!-- Social Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog Section End -->

    <!-- Back To Top Button Start -->
    <div class="back-to-top-btn">
        <a href="#" class="btn btn-default active"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Back To Top Button End -->
</div>
<!-- Wrapper End -->

{% endblock blog_sidebar_left %}