{% extends "base.html" %} {% load static %} {% block pricing %}

<!-- Preloader Start -->
<div class="preloader bg--color-theme"></div>
<!-- Preloader End -->

<!-- Wrapper Start -->
<div class="wrapper">
  </div>
  <!-- Page Header Section End -->
  <!-- Pricing Section Start -->
  <div class="pricing--section pd--100-0-40 bg--color-lightgray">
    <div class="container">
      <!-- Section Title Start -->
      <div class="section--title">
        <h2 class="h2">Our Pricing Package</h2>

        <p>Here Is Our Pricing Plan</p>
      </div>
      <!-- Section Title End -->

      <div class="row AdjustRow">
        <div class="col-md-3 col-xs-6 col-xxs-12">
          <!-- Pricing Item Start -->
          <div class="pricing--item">
            <div class="pricing--icon">
              <img
                src="{% static 'img/pricing-img/icon-01.png' %}"
                alt=""
                data-rjs="2"
              />
            </div>

            <div class="pricing--title">
              <h3 class="h4">Desktop Repair</h3>
            </div>

            <div class="pricing--price">
              <p>Satarting at ...</p>

              <h4 class="h2">$25.00</h4>
            </div>

            <div class="pricing--features">
              <ul class="nav">
                <li>Service Cost Depends on Your</li>
                <li>Device Problem</li>
                <li>Lorem Ipsum Dummy Text</li>
                <li>Lorem Ipsum Dummy Text</li>
              </ul>
            </div>

            <div class="pricing--footer">
              <a href="pricing.html" class="btn btn-default">Get Started</a>
            </div>
          </div>
          <!-- Pricing Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12">
          <!-- Pricing Item Start -->
          <div class="pricing--item">
            <div class="pricing--icon">
              <img
                src="{% static 'img/pricing-img/icon-02.png' %}"
                alt=""
                data-rjs="2"
              />
            </div>

            <div class="pricing--title">
              <h3 class="h4">iPad/Tablet Repair</h3>
            </div>

            <div class="pricing--price">
              <p>Satarting at ...</p>

              <h4 class="h2">$30.00</h4>
            </div>

            <div class="pricing--features">
              <ul class="nav">
                <li>Service Cost Depends on Your</li>
                <li>Device Problem</li>
                <li>Lorem Ipsum Dummy Text</li>
                <li>Lorem Ipsum Dummy Text</li>
              </ul>
            </div>

            <div class="pricing--footer">
              <a href="pricing.html" class="btn btn-default">Get Started</a>
            </div>
          </div>
          <!-- Pricing Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12">
          <!-- Pricing Item Start -->
          <div class="pricing--item">
            <div class="pricing--icon">
              <img
                src="{% static 'img/pricing-img/icon-03.png' %}"
                alt=""
                data-rjs="2"
              />
            </div>

            <div class="pricing--title">
              <h3 class="h4">Laptop Repair</h3>
            </div>

            <div class="pricing--price">
              <p>Satarting at ...</p>

              <h4 class="h2">$40.00</h4>
            </div>

            <div class="pricing--features">
              <ul class="nav">
                <li>Service Cost Depends on Your</li>
                <li>Device Problem</li>
                <li>Lorem Ipsum Dummy Text</li>
                <li>Lorem Ipsum Dummy Text</li>
              </ul>
            </div>

            <div class="pricing--footer">
              <a href="pricing.html" class="btn btn-default">Get Started</a>
            </div>
          </div>
          <!-- Pricing Item End -->
        </div>

        <div class="col-md-3 col-xs-6 col-xxs-12">
          <!-- Pricing Item Start -->
          <div class="pricing--item">
            <div class="pricing--icon">
              <img
                src="{% static 'img/pricing-img/icon-04.png' %}"
                alt=""
                data-rjs="2"
              />
            </div>

            <div class="pricing--title">
              <h3 class="h4">Mobile Repair</h3>
            </div>

            <div class="pricing--price">
              <p>Satarting at ...</p>

              <h4 class="h2">$10.00</h4>
            </div>

            <div class="pricing--features">
              <ul class="nav">
                <li>Service Cost Depends on Your</li>
                <li>Device Problem</li>
                <li>Lorem Ipsum Dummy Text</li>
                <li>Lorem Ipsum Dummy Text</li>
              </ul>
            </div>

            <div class="pricing--footer">
              <a href="pricing.html" class="btn btn-default">Get Started</a>
            </div>
          </div>
          <!-- Pricing Item End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Pricing Section End -->
</div>
{% endblock pricing %}
