{% load static %}

<!-- Footer Section Start -->
<div class="footer--section bg--color-dark">
  <div class="footer--copyright-border"></div>

  <div class="container bg--overlay">
    <div class="row reset--gutter">
      <div class="col-md-3 bg--color-theme bg--overlay">
        <!-- Footer About Start -->
        <div class="footer--about">
          <div class="logo">
            <img src="{% static 'img/logo_1.png' %}" alt="" data-rjs="2" />
          </div>

          <div class="content">
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have available, its really but the majority to
              use a passage rassing hidden.
            </p>
          </div>

          <div class="link">
            <a href="about.html"
              >Read More<i class="fa flm fa-angle-double-right"></i
            ></a>
          </div>

          <div class="info">
            <ul class="nav">
              <li class="fa-home">
                House #896, East Sheprapara Beside of Hazi Asraf Ali School,
                Dhaka, Bangladesh.
              </li>

              <li class="fa-envelope">
                <a href="mailto:you@yourmail.com">you@yourmail.com</a>,
                <a href="mailto:you@yourmail.com">you@yourmail.com</a>
              </li>

              <li class="fa-phone-square">
                <a href="mailto:+055997766554412">+055997766554412</a>,
                <a href="mailto:005594765243">005594765243</a>
              </li>

              <li class="fa-clock-o">
                Monday - Satarday (09 am to 08 pm) <span>(Sunday Closed)</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Footer About End -->
      </div>

      <div class="col-md-9">
        <!-- Footer Widgets Start -->
        <div class="footer--widgets row">
          <!-- Footer Widget Start -->
          <div class="footer--widget col-md-4">
            <div class="widget--title">
              <h2 class="h4">Our Services</h2>
            </div>

            <!-- Links Wdiget Start -->
            <div class="links--widget">
              <ul class="nav">
                <li>
                  <a href="#"
                    ><i class="fa fa-angle-double-right"></i>PC and Mac
                    Repair</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-angle-double-right"></i>iPad and Smartphone
                    Repair</a
                  >
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-angle-double-right"></i>Camera and Lens
                    Repair</a
                  >
                </li>
              </ul>
            </div>
            <!-- Links Wdiget End -->
          </div>
          <!-- Footer Widget End -->

          <!-- Footer Widget Start -->
          <div class="footer--widget col-md-4">
            <div class="widget--title">
              <h2 class="h4">Recent Posts</h2>
            </div>

            <!-- Recent Posts Widget Start -->
            <div class="recent-posts--widget">
              <ul class="nav">
                <li class="clearfix">
                  <div class="img">
                    <a href="blog-details.html"
                      ><img
                        src="{% static 'img/blog-img/recent-post-01.jpg' %}"
                        alt=""
                        data-rjs="2"
                    /></a>
                  </div>

                  <div class="content">
                    <h3 class="h6">
                      <a href="blog-details.html"
                        >The Summer Sppecial Day Out</a
                      >
                    </h3>
                    <p>Jan 19 2017</p>
                  </div>
                </li>
                <li class="clearfix">
                  <div class="img">
                    <a href="blog-details.html"
                      ><img
                        src="{% static 'img/blog-img/recent-post-02.jpg' %}"
                        alt=""
                        data-rjs="2"
                    /></a>
                  </div>

                  <div class="content">
                    <h3 class="h6">
                      <a href="blog-details.html">The Post Writen By Saju</a>
                    </h3>
                    <p>Jan 19 2017</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- Recent Posts Widget End -->
          </div>
          <!-- Footer Widget End -->

          <!-- Footer Widget Start -->
          <div class="footer--widget col-md-4">
            <div class="widget--title">
              <h2 class="h4">Sign Up For Newsletter</h2>
            </div>

            <!-- Subscribe Widget Start -->
            <div class="subscribe--widget" data-form-validation="true">
              <p>Sign Up Our Newsletter to Get Notification Our New Services</p>

              <form
                action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d"
                method="post"
                name="mc-embedded-subscribe-form"
                target="_blank"
              >
                <div class="input-group">
                  <input
                    type="email"
                    name="EMAIL"
                    class="form-control"
                    placeholder="E-mail Address"
                    required
                  />

                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default active">
                      <i class="fa fa-send"></i>
                    </button>
                  </span>
                </div>
              </form>

              <div class="social">
                <h3 class="h6">Find Us On</h3>

                <ul class="nav">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-rss"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Subscribe Widget End -->
          </div>
          <!-- Footer Widget End -->
        </div>
        <!-- Footer Widgets End -->

        <!-- Footer Copyright Start -->
        <div class="footer--copyright font--secondary clearfix">
          <p class="float--left">&copy; Copyright 2017 | All Rights Reserved</p>
          <p class="float--right"><a href="#">Quick Fix</a> by Themelooks</p>
        </div>
        <!-- Footer Copyright End -->
      </div>
    </div>
  </div>
</div>
<!-- Footer Section End -->
